main {
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media only screen and (min-width: 850px) {
    max-width: 379px;
    row-gap: 40px;
    padding: 13px 0px 16px 0px;
  }
  #tips-ammount {
    #tips-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16.56px;
      row-gap: 16px;
      @media only screen and (min-width: 850px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 14px;
      }
    }
  }
  .custom-tips {
    text-align: center;
    transition: all 150ms ease-in-out;
    &.tips-active {
      background-color: #26c2ae;
    }
    &:hover,
    &:focus {
      background: #9fe8df;
      transform: scale(1.05);
      color: #ffffff;
    }
  }
  input.custom-tips {
    position: relative;
    padding-right: 17px;
    @media only screen and (min-width: 850px) {
      padding: 0;
    }
  }
}
