.container {
  h1 {
    display: none;
  }
  h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #5e7a7d;
    margin-bottom: 6px;
  }
  input {
    font-size: 24px;
  }
  input::placeholder {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474b;
    mix-blend-mode: normal;
    opacity: 0.35;
  }
  input.custom-tips {
    &::placeholder {
      color: #547878;
      opacity: 1;
      text-align: right;

      @media only screen and (min-width: 850px) {
        text-align: center;
      }
    }
    &:hover::placeholder,
    &.tips-active,
    &.tips-active::placeholder {
      color: #ffffff;
    }
  }
  button {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    &#reset {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #00474b;
    }
  }
  .tip {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    @media only screen and (min-width: 850px) {
      margin-top: 16px;
    }
  }
  .br-text {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #7f9d9f;
  }
  .number {
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    font-weight: 400;
    color: #26c2ae;
    @media only screen and (min-width: 850px) {
      font-size: 48px;
      line-height: 71px;
      letter-spacing: -1px;
    }
  }
  #bill-container {
    aside {
      #reset {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #00474b;
      }
    }
  }
  #tips-ammount {
    h2 {
      margin-bottom: 16px;
    }
  }
}
.error-bill,
.people-error {
  color: #e17457;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: -30px;
  right: 0;
  transform: scale(0);
  visibility: hidden;
  height: 0;
  transition: all 250ms ease-in-out;
}
.input-container {
  &.error-null {
    animation: bounceX 250ms linear 150ms 1 alternate;
    .error-bill,
    .people-error {
      visibility: visible;
      transform: scale(1);
      height: initial;
      transform: scale(1);
    }
  }
}
@keyframes bounceX {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
